# Environment variables
.env

# Virtual environment
.venv/
env/
venv/

# Python cache & build artifacts
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Chroma vector database storage
chroma_db/

# Media / uploaded files
media/
downloads/
models/
